<% content_for :extra_head do %>
    <meta name="turbolinks-visit-control" content="reload">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.6/cropper.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.6/cropper.js"></script>
<% end %>
<h1>New Guide</h1>
<img id='output' style="width:500px; height:400px">

<%= render 'form', guide: @guide %>

<%= link_to 'Back', guides_path %>

<script>
document.addEventListener("turbolinks:load", function() {
  var cropper =null;
  $('#guide_cover_image').change(function(event) {
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('output');
      output.src = dataURL;
      if(cropper){
        console.log('reset here')
        cropper.replace(dataURL, true)
      }else{
        cropper = new Cropper(output, {
          aspectRatio: 1 / 1,
          crop: function(e) {
              console.log('"crop" event has fired.');
          },
        });
      }

      output.addEventListener('cropend', function () {
        console.log(this.cropper === cropper);
        this.cropper.getCroppedCanvas().toBlob(function (blob) {
              console.log('"blob" event has fired:', input.files, blob);
              var pf=input.files[0];
              //$('#guide_cover_image').val();
              var formData = new FormData($('#guide_cover_image').parent().parent().get(0))
              console.log('data: ',formData.get('guide[cover_image]'))

              formData.set('guide[cover_image]', blob, 'changed');
              console.log('data after : ',formData.get('guide[cover_image]'))

              console.log(pf==input.files[0])
        });
      });
    };
    //console.log('input file: ',input.files[0])
    reader.readAsDataURL(input.files[0])
  })
})
</script>